.App {
    text-align: center;
}

.App-logo {
    height: 18vmin;
    transition:transform .3s ease-out;
}


.App-logo:hover{
    transform: scale(1.2);
  }


.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: #282c34;
}

.App-link {
    color: #61dafb;
}

