.App {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-image: url("Login-BG.png");
    background-size:     cover;             
    background-repeat:   no-repeat;
    background-position: center center;
   font-family: "Roboto";
}
