
  .rightNav{
    background-color: white;
    width: 25%;
    top: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    box-shadow: 0px 0px 3px rgba(165, 165, 165, 0.856);
    transition: 0.2s;
    
  }
 .logoutBtn{
  padding: 10px 20px;
  border : none;
}
  .toggle{
    position: absolute;
    margin: 5px;
    top:8%;
    padding: 10px;
    background-color: white;
    font-size: 40px;
    border: none;
    cursor: pointer;
    
  }

  .toggle:hover{
    background-color: #F1F2F8;
    border-radius: 25px;
    transition: 0.3s;
  }

  .toggle:focus {outline:0;}

  .chatApp{
    width: 90%;
    top:45%;
    bottom: 0%;
    position: absolute;
    background-color:white;
    right: 0px;
    text-align: right;
    margin: 0 auto;
  }


  .headerSection{
    top: 20%;
    margin: 5%;
    position: absolute;
    justify-content: right;
    color: #2D2E4E;
  }
 
  .chatAppSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    background-color: white;
  }
  
  main {
    padding: 5%;
    height:80%;
    margin-bottom: 5%;
    overflow-y: auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  
  main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #C4C4C4;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #5855FC;
    border-radius: 25px;
  }
  
  form {
    height: 10%;
    justify-content: left;
    background-color: white;
    display: flex;
    flex-direction: row;    
  }
  
  

  .input:focus {outline:0;}
  
  .submitBtn {
   margin: 3%;
   
    border: none;
    color: white;
    
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: white;
  }
  
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  .textP {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    color: white;
    text-align: center;
  }

  .timeStamp {
    color: #828282;
    margin: 10px;
    background-color: white;
    font-weight: light;
  }
  

  .message {
    display: flex;
    align-items: center;
  }

  .message.userName {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
  }
  
  .message:hover .userName {
    visibility: visible;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #5855FC;
    align-self: flex-end;
  }
  .received p {
    background: #F1F2F8;
    color: #2D2E4E;
  }
  
  .chatImg {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px 5px;
  }