
  .rightNav{
    background-color: white;
    width: 20%;
    top: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    box-shadow: 0px 0px 3px rgba(165, 165, 165, 0.856);
    transition: 0.2s;
    
    
  }
 .logoutBtn{
  padding: 10px 20px;
  border : none;
}
  .toggle{
    position: absolute;
    margin: 5px;
    top:8%;
    padding: 10px;
    background-color: white;
    font-size: 40px;
    border: none;
    cursor: pointer;
    
  }

  .toggle:hover{
    background-color: #F1F2F8;
    border-radius: 25px;
    transition: 0.3s;
  }

  .toggle:focus {outline:0;}

  .chatApp{
    width: 100%;
    top:30%;
    bottom: 0%;
    position: absolute;
    background-color:white;
    right: 0px;
    text-align: right;
    margin: 0 auto;
  }

  .chatAppCloseMessages{
    margin-top: 40%;
    align-items: center;
    margin-left: 15%;
  }

  .chatAppClose{
    margin-top: 250%;
  }

  .headerSection{
    width: 100%;
    bottom: 70%;
    top: 15%;
    padding-left: 5%;
    padding-right: 5%;    
    position: absolute;
    justify-content: right;
    color: #2D2E4E;
    box-shadow: 0px 0px 3px rgba(165, 165, 165, 0.856);
  }
 
  .chatAppSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: white;
  }

  #messagesDiv{
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
    height:80%;
    margin-bottom: 5%;
    overflow-y: auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  
  #messagesDiv::-webkit-scrollbar {
    width: 0.40rem;
  }
  
  #messagesDiv::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  #messagesDiv::-webkit-scrollbar-thumb {
    background:#C4C4C4;
    border-radius: 25px;
  }
  
  .chatForm {
    padding: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;    
    align-items: left;
  }
  


  .input:focus {outline:0;}
  
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: white;
  }
  
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  .textP {
    max-width: 300px;
    min-width: 100px;
    margin-top: 4px;
    margin-bottom: 0px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative;
    color: white;
    text-align: left;
    word-wrap: break-word;
  }

  .timeStamp {
    display: flex;
    flex-direction: row;
    color: #2D2E4E;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: white;
    font-weight: light;
  }
  

  .message {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  
  .message:hover .userName {
    visibility: visible;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }


  .received h6 {
    align-items: left;
    
  }

  .sent h6{
    align-items: right;
  }
  
  .sent p {
    color: white;
    background: #5855FC;
    align-self: flex-end;
  }
  .received p {
    background: #F1F2F8;
    color: #2D2E4E;
  }


  
  .chatImg {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 5px;
  }