
.nodeOptions{
    height:5%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
    margin-left: 20px;
    box-shadow: 0px 0px 12px rgba(45, 46, 78, 0.23);
}
.optionsContainer{
    margin-left: 70%;
    padding-bottom: 3%;
    display: flex;
    text-align:center;
}
.cancelBtn{
    position: absolute;
    right:-30%;
    padding-top: 5px;

}
.flowpoint{
    text-align: center;
    height:210px;
}

a {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
  }

::-webkit-scrollbar {
    width: 4px;
  }
  
::-webkit-scrollbar-track {
    background: #EEF1FA;
  }
  
::-webkit-scrollbar-thumb {
    background:#B9BACA;
    border-radius: 25px;
  }