.background{
    background-color: #EEF1FA;
    align-items:left;
}

.welcomep{
    padding-bottom: 20px;
    color:#2D2E4E;
}

.teams{
    width: 220px;
    background-color:#6A67FF;
    color: #BDBBFF;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    overflow: hidden;
}
.teamsButton{
    color:white;
}
.content{
    color:#2D2E4E;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 600px;
    margin-right: 5%;
    
    
}
.currentTeams{
    color:#2D2E4E;
    display: flex;
    flex-direction: column;
    align-items: left;   
    max-height: 600px;
    height: 600px;
    width: 600px;
    max-width: 600px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 5px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
    
    box-shadow: 0px -1px 8px rgba(45, 46, 78, 0.13);
}
.scroll{
    overflow-y: auto;
}

.scroll::-webkit-scrollbar{
    width: 3px;
    
}
.scroll::-webkit-scrollbar-track{
    background: white;
    border-radius: 30px;
}
.scroll::-webkit-scrollbar-thumb{
    background: #B9BACA;
    border-radius: 30px;
}
.teamsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.teamsp{
    font-size: smaller;
}
.textField{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.teamForm{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}
.ideaBoard{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left:5%;
    width: 50%;

}
.dashboard{
    padding: 40px;
    max-height: 350px;
    width: 50%;
    margin-right: 2%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px -1px 8px rgba(45, 46, 78, 0.13);
}

/* width */
