.background{
    display: flex;
    background-color: #F1F2F8;
    flex-direction: column;
    align-items:left;
}

p{
    color:#2D2E4E;
}

.content{
    color:#2D2E4E;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10%;
    margin-right: 50%;
    padding: 20px;
}
.currentTeams{
    color:#2D2E4E;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 63%;
    padding: 20px;
}

.textField{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.teamForm{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}
.ideaBoard{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left:5%;
    width: 50%;

}