.background{min-height: 50vh;
    max-height: 40vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-color: #F1F2F8;
}
/*} text-align: center; */