.background{min-height: 50vh;
    max-height: 40vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-color: #EEF1FA;
}

.box-shadow{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.profileText{
    padding-left: 20px;
    padding-right:20px;
    padding-top: 5px;
    text-align: left;
}
/*} text-align: center; */